.App {
  display: flex;
  height: 100vh; /* 100% de la hauteur de la vue */
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px; /* Largeur de la sidebar */
  background-color: #f0f0f0; /* Couleur de fond de la sidebar */
}

.main-content {
  flex: 1; /* Prend tout l'espace disponible restant */
  padding: 20px; /* Ajoutez un padding selon vos besoins */
  overflow-y: auto; /* Ajoutez une barre de défilement si nécessaire */
}
